.logo {
  display: inline-block;
  border: 2px solid $primary;
  width: 40px;
  height: 40px;
  background-color: $secondary;
  @include media-breakpoint-up(md) {
    width: 53px;
    height: 53px;
  }
}
.navbar-input input {
  max-width: 170px;
  padding: 8px 12px;
  @include media-breakpoint-up(md) {
    padding: 12px 24px;
    max-width: 285px;
  }
}
.navbar-input button {
  padding: 8px 12px;
  @include media-breakpoint-up(md) {
    padding: 12px 16px;;
  }
}
.nav-link{
  font-size: 18px;
  color: var(--bs-primary);
  &:hover {
    color: #9C9E18
  }
}