.process-bar {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    background-color: #000;
    color:#000;
  }
}
.process-item {
  font-family: "Noto Serif TC";
  position: relative;
  border: 1px solid #000;
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 20px;
  background-color: #EBEAE3;
  color: #000;
  &.current {
    background-color: #000;
    color: yellow;
  }
}