<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>7TAO 活動訂票網</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-10">
          <div class="border border-2 border-dark p-2 p-lg-4 h-100">
            <img class="w-100 object-cover event-img" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/09.jpg?raw=true" alt="活動圖片">
          </div>
        </div>
        <div class="col-lg-2">
          <div class="row flex-lg-column justify-content-between mt-1 mt-lg-0 h-100">
            <div class="col-4 col-lg-12 mb-0 mb-lg-4">
              <div class="border border-2 border-dark text-center d-flex align-items-center h-100">
                <p class="fs-5 fs-md-3 py-4 w-100">2023</p>
              </div>
            </div>
            <div class="col-8 col-lg-12">
              <div class="d-flex d-lg-block justify-content-between align-items-center border border-2 border-dark text-center py-lg-5 px-4 px-lg-0 h-100">
                <p class="fs-6 fs-md-3 mb-0">MAY<br>19</p>
                <p class="event-time-line border border-2 border-dark mb-0"></p>
                <p class="fs-9 fs-md-4 mb-0">12:00 <br> &#124;<br> 20:00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h1 class="mt-4 mb-3">返老還童-制服聯誼</h1>
      <p class="mb-4 fs-md-6 font-sans-tc">穿上制服，無年齡限制，一起走上街頭、尋找青春才有的純愛心動！</p>
      <ul class="mb-6 list-unstyled d-md-flex d-none">
        <li class="me-1"><div class="btn btn-outline-cus-tab">聯誼</div></li>
        <li class="me-1"><div class="btn btn-outline-cus-tab">美食</div></li>
        <li class="me-1"><div class="btn btn-outline-cus-tab">戶外</div></li>
        <li><div class="btn btn-outline-cus-tab">交通旅遊</div></li>
      </ul>
      <div class="p-3 p-md-5 border border-2 font-sans-tc">
        <p class="mb-3">想回到過去？試著讓故事繼續？</p>
        <p class="mb-3">由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！制服由主辦方提供，妝髮造型可額外加價購！</p>
        <p class="mb-3">活動中全程會有隨行攝影師，捕捉你們的純愛互動，拍攝成實境電視劇，讓你們能留下永恆的美好回憶 &lt;3</p>
      </div>
      <!-- ticket -->
      <section class="mt-4 mb-6 mt-md-6 mb-md-7">
        <div class="border border-2 d-flex align-items-center py-4 px-5">
          <h2 class="fs-1 me-auto">TICKET</h2>
          <h2 class="fs-4">購票資訊</h2>
        </div>
        <table class="table align-middle mt-3 fs-10 fs-md-9">
          <thead class="">
            <tr class="border-bottom border-2">
              <th>活動日期</th>
              <th>票種</th>
              <th>票價</th>
              <th class="text-center">購票</th>
            </tr>
          </thead>
          <tbody class="font-sans-tc">
            <tr>
              <td class="ps-0">2023/5/12</td>
              <td>普通票</td>
              <td>$600</td>
              <td class="text-end ps-0 pe-0 pe-lg-3">
                <a href="payment.html"  class="btn btn-outline-primary px-1 px-lg-4 fs-10 fs-md-9">
                  <span class="d-none d-md-inline">立即</span>購票
                </a>
              </td>
            </tr>
            <tr>
              <td class="ps-0">2023/5/12</td>
              <td>改頭換面票（含大改造）</td>
              <td>$3600</td>
              <td class="text-end ps-0 pe-0 pe-lg-3">
                <a href="payment.html"  class="btn btn-outline-primary px-1 px-lg-4 fs-10 fs-md-9">
                  <span class="d-none d-md-inline">立即</span>購票
                </a>
              </td>
            </tr>
            <tr>
              <td class="ps-0">2023/5/12</td>
              <td>必勝票（含戀愛小抄）</td>
              <td>$8000</td>
              <td class="text-end ps-0 pe-0 pe-lg-3 fs-10 fs-md-9">
                <a href="payment.html"  class="btn btn-outline-primary px-1 px-lg-4 fs-10 fs-md-9">
                  <span class="d-none d-md-inline">立即</span>購票
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        </section>
      </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
